server/.DS_Store
server/bbs-go
server/bbs-go.yaml
server/bbs-go.prod.yaml
server/bbs-go.dev.yaml
server/bbs-go.test.yaml
server/go.work
server/go.work.sum
server/cmd/generator

site/.DS_Store
site/.output
site/.nuxt
site/node_modules
site/.eslintcache

admin/.DS_Store
admin/node_modules
admin/dist
admin/dist-ssr
admin/*.local
