# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.gocache

bbs-go
bbs-go-linux-*
bbs-go-macos-*
bbs-go-windows-*

bbs-go.yaml
bbs-go.prod.yaml
bbs-go.dev.yaml
bbs-go.test.yaml

.idea/*
build/*

cscope.files
tags

logs/*.log
web/*
tmp/*
logs/*
res/uploads/*
data/*

internal/web*

go.work
go.work.sum

ip2region.xdb

bbs-go.db
bbs-go.db*

__debug_bin*
