# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

mlog.json
mlog.prod.json

.idea/*
build/*

/web/static/styles/*.css
/web/static/styles/*.css.map
/web/static/styles/.sass-cache/
