<ul class="message-list">
    {{range .Messages}}
        <li class="message-item">
            <div class="message-item-left">
                <img src="{{.User.Avatar}}"/>
            </div>
            <div class="message-item-right">
                <div class="message-item-meta">
                    <span class="nickname"><a href="{{userUrl .User.Id}}"
                                              target="_blank">{{.User.Nickname}}</a></span>
                    <span class="time">{{prettyTime .CreateTime}}</span>
                </div>
                <div class="content">
                    {{.Content}}
                    {{if .DetailUrl}}
                        <span class="show-more">
                            <a href="{{.DetailUrl}}" target="_blank">点击查看详情&gt;&gt;</a>
                        </span>
                    {{end}}
                    <blockquote>{{.QuoteContent}}</blockquote>
                </div>
            </div>
        </li>
    {{end}}
</ul>
