<ul class="message-list">
    {{range .Messages}}
        <li class="message-item">
            <div class="message-item-left">
                <div class="avatar is-rounded has-border" style="background-image: url({{.From.Avatar}});"></div>
            </div>
            <div class="message-item-right">
                <div class="message-item-meta">
                    {{if gt .From.Id 0}}
                        <span class="nickname"><a href="{{userUrl .From.Id}}"
                                                  target="_blank">{{.From.Nickname}}</a></span>
                    {{else}}
                        <span class="nickname"><a href="javascript:void(0)"
                                                  target="_blank">{{.From.Nickname}}</a></span>
                    {{end}}
                    <span class="time">{{prettyTime .CreateTime}}</span>
                </div>
                <div class="content">
                    {{.Content}}
                    {{if .DetailUrl}}
                        <span class="show-more">
                            <a href="{{.DetailUrl}}" target="_blank">点击查看详情&gt;&gt;</a>
                        </span>
                    {{end}}
                    <blockquote>{{.QuoteContent}}</blockquote>
                </div>
            </div>
        </li>
    {{end}}
</ul>
