{{template "common/header.html" .}}
{{template "common/nav.html" .}}

<section class="main">
    <div class="container">

        <div class="columns">
            <div class="column is-9">
                <div class="main-body">
                    <nav class="breadcrumb" aria-label="breadcrumbs" style="margin-bottom: 0px;">
                        <ul>
                            <li><a href="{{baseUrl}}">首页</a></li>
                            <li><a href="{{baseUrl}}/user/{{.User.Id}}?tab=tags">{{.User.Nickname}}</a></li>
                            <li class="is-active"><a href="#" aria-current="page">标签列表</a></li>
                        </ul>
                    </nav>

                    <div style="padding-top: 10px;">
                        <div style="float:right; padding-bottom: 10px;">
                            <a class="button is-primary" href="{{baseUrl}}/tag/add">
                                <span class="icon is-small"><i class="iconfont icon-edit"></i></span>
                                <span>添加标签</span>
                            </a>
                        </div>
                        <div>
                            <table class="table is-fullwidth is-bordered is-hoverable">
                                <thead>
                                <tr>
                                    <th>标签</th>
                                    <th>文章数量</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{if .Tags}}
                                    {{range .Tags}}
                                        <tr>
                                            <td>{{.TagName}}</td>
                                            <td>0</td>
                                            <td><a class="button is-light">删除</a></td>
                                        </tr>
                                    {{end}}
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column is-3">
                <div class="main-aside">
                    {{template "user/user-profile.html" .}}
                </div>
            </div>
        </div>

    </div>
</section>

{{template "common/footer.html" .}}
