@charset "UTF-8";
@import './variable';
@import "./bulma";
@import "./common";
@import "./topic";
@import "./article";
@import "./link";
@import "./highlightjs";
@import "./nav";
@import "./signin";

$animationDuration: 0.3s;
@import "vue2-animate/src/sass/vue2-animate.scss";

@import url(//at.alicdn.com/t/font_1142441_mzbbxjvb41r.css);
