.topic-wrap {
  .topic-detail {
    .topic-header {
      padding-bottom: 5px;
      border-bottom: 1px dashed #d1d1d1;
    }
  }

  .topic-header {
    display: flex;

    .topic-header-left {
      min-width: 48px;
      min-height: 48px;

      // .avatar {
      //   min-width: 48px;
      //   min-height: 48px;
      //   width: 48px;
      //   height: 48px;
      // }
    }

    .topic-header-center {
      width: 100%;
      margin-left: 8px;

      .topic-title {
        color: #555;
        font-size: 16px;
        line-height: 21px;
        font-weight: normal;
        overflow: hidden;
        word-break: break-all;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }

      .topic-meta {
        position: relative;
        font-size: 12px;
        line-height: 24px;
        color: #bbb;
        margin-top: 3px;
        // display: flex;

        span.meta-item {
          font-size: 12px;

          &:not(:last-child) {
            margin-right: 8px;
          }

          &.act {
            a {
              font-size: 12px;
              color: #3273dc;

              i {
                font-size: 12px;
                color: #000;
              }
            }
          }

          .tag {
            height: auto !important;

            &:not(:last-child) {
              margin-right: 3px;
            }
          }
        }

        a {
          color: #778087;
        }
      }
    }

    .topic-header-right {
      min-width: 100px;
      max-width: 100px;
      text-align: right;
      padding-right: 8px;

      .like {
        font-size: 12px;

        .like-btn {
          transition: all 0.5s;
          cursor: pointer;

          background-color: rgba(126, 107, 1, 0.08);
          color: #e7672e;
          // padding: 0;
          // display: inline-block;
          // height: 20px;
          // width: 20px;
          // line-height: 20px;
          // border-radius: 10px;
          // text-align: center;
          padding: 4px;
          border-radius: 50%;

          &:hover,
          &.liked {
            color: #fff;
            background-color: #e7672e;
          }
        }

        .like-count {
          font-weight: bold;
          color: #e7672e;

          &::before {
            content: " x ";
          }
        }
      }

      .count {
        font-size: 12px;
        color: #fff;

        background: #aab0c6;
        padding: 2px 10px;
        border-radius: 6px;
        font-weight: 700;
      }
    }
  }

  .topic-content {
    font-size: 15px;
  }
}
