@import "./variable";
@import "./topic-list";
@import "./topic-detail";

.topics-wrapper {
  display: flex;

  .topics-nav {
    margin-right: 10px;
  }

  .topics-main {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .topics-nav {
      display: none;
    }
  }
}



