.topic-wrap {
  .topic-header {
    display: flex;

    @media screen and (max-width: 1024px) {
      .topic-header-right {
        display: none;
      }
    }

    .topic-header-left {
      width: 50px;
      height: 50px;
    }

    .topic-header-center {
      width: 100%;
      margin-left: 10px;

      .topic-title,
      .topic-title a {
        color: #555;
        font-size: 14px;
        font-weight: bold;
        overflow: hidden;
      }

      .topic-meta {
        position: relative;
        font-size: 12px;
        line-height: 24px;
        color: #70727c;
        margin-top: 5px;

        span.meta-item {
          font-size: 12px;

          &:not(:last-child) {
            margin-right: 8px;
          }

          &.act {
            // float: right;
            margin-right: 5px;

            a {
              font-size: 12px;
              // color: #3273dc;
              color: #7a7a7a;
              font-weight: 700;

              &:hover {
                text-decoration: underline;
              }

              i {
                font-size: 12px;
                color: #000;
              }
            }
          }

          .tag {
            height: auto !important;

            &:not(:last-child) {
              margin-right: 3px;
            }
          }

          .node {
            font-weight: bold;
            color: #3273dcde;
            // color: #e7672e;
          }
        }

        a {
          color: #778087;
        }
      }
    }

    .topic-header-right {
      min-width: 100px;
      max-width: 100px;
      text-align: right;
      padding-right: 8px;

      .like {
        font-size: 12px;

        .like-btn {
          transition: all 0.5s;
          cursor: pointer;

          background-color: rgba(126, 107, 1, 0.08);
          color: #e7672e;
          // padding: 0;
          // display: inline-block;
          // height: 20px;
          // width: 20px;
          // line-height: 20px;
          // border-radius: 10px;
          // text-align: center;
          padding: 4px;
          border-radius: 50%;

          &:hover,
          &.liked {
            color: #fff;
            background-color: #e7672e;
          }
        }

        .like-count {
          font-weight: bold;
          color: #e7672e;

          &::before {
            content: ' x ';
          }
        }
      }

      .count {
        font-size: 12px;
        color: #fff;

        background: #aab0c6;
        padding: 2px 10px;
        border-radius: 6px;
        font-weight: 700;
      }
    }
  }

  .topic-content {
    font-size: 15px;
    padding-top: 0 !important;
  }
}

.topic-toolbar {
  display: flex;
  position: relative;

  .avatar-link {
    height: 25px;
    width:25px;
    margin-right: 3px;
    .avatar {
      max-width: 25px;
      max-height: 25px;
      min-width: 25px;
      min-height: 25px;
      margin-left: 5px;
      border: solid 1px #e8ecee;
    }
  }

  .like-desc {
    margin-left: 10px;
    color: #6c757d !important;
    font-size: 13px;
    line-height: 25px;
  }

  .action-buttons {
    display: flex;
    position: absolute;
    right: 0px;

    .action {
      margin-left: 5px;
      height: 25px;
      width: 25px;
      line-height: 25px;
      text-align: center;
      color: #e7672e;
      background-color: rgba(126, 107, 1, 0.08);
      border-radius: 50%;
      transition: all 0.5s;
      cursor: pointer;

      i {
        font-size: 16px;
      }

      &:hover,
      &.active {
        color: #fff;
        background-color: #e7672e;
      }
    }
  }
}

.topic-list {
  margin: 0 0 10px 0 !important;

  li.topic-item {
    padding: 8px 0 8px 8px;
    position: relative;
    overflow: hidden;
    transition: background 0.5s;

    //&:hover {
    //  background: #f3f6f9;
    //}

    &:not(:last-child) {
      border-bottom: 1px solid #f2f2f2;
    }
  }

  .topic-header {
    .topic-header-center {
      // 控制内容只显示一行，多余的折叠，暂时不需要先注释掉
      //.topic-title,
      //.topic-title a {
      //  word-break: break-all;
      //  -webkit-line-clamp: 1;
      //  text-overflow: ellipsis;
      //  -webkit-box-orient: vertical;
      //  display: -webkit-box;
      //}
    }
  }
}

.topic-detail {
  margin-bottom: 20px;

  .content {
    padding-top: 10px !important;
    font-size: 15px;
    color: #000;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;

    nav {
      background-color: #fdfdfd;
      border: 1px solid #f6f6f6;
      padding: 10px 0;
      font-size: 14px;

      ul {
        list-style: disc outside;
        margin-left: 2em;
        margin-top: 0;
      }
    }
  }

  .topic-header {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
}
