:root {
  --text-color: #4a4a4a;
  --text-color2: #555;
  --text-color3: #70727c;
  --text-color4: #d8d8d8;
  --text-color5: #fff;
  --text-link-color: #3273dc;
  --text-link-hover-color: #363636;

  --body-bg-color: #f3f3f3;
  --bg-color: #fff;
  --bg-color2: #f7f7f7;
  --bg-color-alpha: rgba(29, 33, 41, 0.5); // 50%透明

  --border-color: #e9e9e9;
  --border-color2: #dcdfe6;
  --border-color3: #8590a6;
  --border-hover-color: #1878f3;

  --color-red: #fa5151;
}
