$border-color-base: rgba(228, 228, 228, 0.6);
$color-blue-base: #1878F3;
$font-color-grey: #8590A6;
$background-color-grey: #F7F7F7;
$background-color-editor: #F5F6F7;
$color-blue-deep: #006CD1;
$line-color-base: #F5F5F5;
$color-red: #fa5151;
$color-000: #333;
$border-color: #DCDFE6;
