<aside class="sidebar">
    {{if .ActiveUsers}}
        <div class="widget">
            <div class="header">活跃用户</div>
            <div class="content">
                {{range $index,$user := .ActiveUsers}}
                    <div style="display: flex; margin: 8px;">
                        <a href="{{userUrl $user.Id}}" title="{{$user.Nickname}}" style="font-weight: bold;">
                            <div style="background: url('{{$user.Avatar}}') no-repeat; background-size: contain; width: 50px; height: 50px; min-width: 50px; min-height: 50px; border-radius: 50%;"></div>
                        </a>
                        <div style="display: block; margin-left: 10px; vertical-align: middle;">
                            <div>
                                <a href="{{userUrl $user.Id}}" title="{{$user.Nickname}}"
                                   style="font-weight: bold;">{{$user.Nickname}}</a>
                            </div>
                            <div style="word-break: break-all; -webkit-line-clamp: 2; overflow: hidden!important; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box;">{{$user.Description}}</div>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    {{end}}

    {{if .ActiveTags}}
        <section class="main">
            <div class="container">
                <div class="columns">
                    <div class="column is-12">

                        <div class="widget">
                            <div class="header">
                                <span>今日热议</span>
                                <div class="slot">
                                    <a href="{{baseUrl}}/tags">查看更多>></a>
                                </div>
                            </div>
                            <div class="content">
                                <div class="tags are-medium">
                                    {{range .ActiveTags}}
                                        <span class="tag is-normal is-white"><a href="{{tagArticlesUrl .TagId 1}}"
                                                                                title="{{.TagName}}">{{.TagName}}</a></span>
                                    {{end}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    {{end}}

</aside>
