<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/mlogclub/mlog" target="_blank">M-LOG CLUB</a>
            <a href="{{baseUrl}}/about">关于</a>
            <label class="hide">
                <a href="{{baseUrl}}/tags">标签</a>
                <script type="text/javascript"
                        src="https://s96.cnzz.com/z_stat.php?id=1277652825&web_id=1277652825"></script>
            </label>
        </p>
    </div>
</footer>

<script>
  (function () {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    } else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
</body>
</html>
