<!DOCTYPE html>
<html>
<head>
    <meta name=referrer content=never>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="theme-color" content="#000000"/>
    <meta http-equiv="window-target" content="_top"/>
    <link rel="icon" href="{{baseUrl}}/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//cdn.staticfile.org/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1142441_f6wv8txztqm.css">
    <link rel="stylesheet" href="{{baseUrl}}/static/styles/style.css">

    <script type="text/javascript" src="//cdn.staticfile.org/vue/2.6.10/vue.min.js"></script>
    <script type="text/javascript" src="//cdn.staticfile.org/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{baseUrl}}/static/script/main.js"></script>

    <link rel="alternate" type="application/rss+xml" title="最新文章" href="{{baseUrl}}/rss.xml"/>
    <link rel="alternate" type="application/rss+xml" title="最新主题" href="{{baseUrl}}/topic_rss.xml"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139932809-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139932809-1');
      {{if .CurrentUser}}
      gtag('set', {'user_id': '{{.CurrentUser.Id}}'}); // 使用已登录的 user_id 来设置用户 ID。
      {{end}}
    </script>

    {{if .SiteTitle}}
        <title>{{siteTitle .SiteTitle}}</title>
    {{else }}
        <title>{{siteTitle ""}}</title>
    {{end}}

    {{if .SiteDescription}}
        <meta name="description" content="{{.SiteDescription}}">
    {{end}}
    {{if .SiteKeywords}}
        <meta name="keywords" content="{{.SiteKeywords}}">
    {{end}}
</head>
<body>
