<template id="taginput">
    <div class="select-tags">
        <input id="tags" name="tags" type="hidden" v-model="tags"/>
        <div class="tags-selected">
        <span class="tag-item" v-for="tag in tags" :key="tag">
            <span class="text">{{html "{{tag}}"}}<i class="iconfont icon-close" @click="clickRemoveTag"
                                                    :data-name="tag"></i></span>
        </span>
        </div>
        <input ref="tagInput" class="input" type="text" v-model="inputTag" @input="autocomplete"
               @keydown.delete="removeTag" @keydown.enter="addTag"
               @keydown.32="addTag" @keydown.186="addTag" @keydown.188="addTag"
               @keydown.38="selectUp" @keydown.40="selectDown"
               @focus="openRecommendTags"
               @click="openRecommendTags"
               placeholder="标签（请用逗号分隔每个标签，最多4个，每个最长15字符）">
        <div v-if="autocompleteTags.length > 0" class="autocomplete-tags">
            <div class="tags-container">
                <section class="tag-section">
                    <div v-for="(item, index) in autocompleteTags" :key="item" class="tag-item"
                         :class="{active: index === selectIndex}" @click="selectTag(index)" v-text="item"></div>
                </section>
            </div>
        </div>
        <div v-if="showRecommendTags" class="recommend-tags">
            <div class="tags-container">
                <div class="header">
                    <span>推荐标签</span>
                    <span class="close-recommend"><i class="iconfont icon-close" @click="closeRecommendTags"></i></span>
                </div>
                <a v-for="tag in recommendTags" :key="tag" @click="addRecommendTag(tag)" class="tag-item" v-text="tag"></a>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">
  new Vue({
    el: '#taginput',
    data: {
      maxTagCount: 5, // 最多可以选择的标签数量
      maxWordCount: 15, // 每个标签最大字数
      showRecommendTags: false, // 是否显示推荐
      recommendTags: [], // 推荐标签
      inputTag: '',
      tags: [
          {{if .}} {{range .}} '{{.}}', {{end}} {{end}}
      ],
      autocompleteTags: [],
      selectIndex: -1
    },
    mounted() {
      this.getRecommendTags()
    },
    methods: {
      removeTag(event, tag) {
        var selectionStart = this.$refs.tagInput.selectionStart
        if (!this.inputTag || selectionStart === 0) { // input框没内容，或者光标在首位的时候就删除最后一个标签
          this.tags.splice(this.tags.length - 1, 1);
        }
      },

      clickRemoveTag(event) {
        var tag = event.target.dataset.name
        if (tag) {
          var index = this.tags.indexOf(tag)
          if (index !== -1) {
            this.tags.splice(index, 1);
          }
        }
      },

      /**
       * 手动点击选择标签
       * @param index
       */
      selectTag(index) {
        this.selectIndex = index
        this.addTag()
      },

      /**
       * 添加标签
       * @param event
       */
      addTag(event) {
        if (event) {
          event.stopPropagation()
          event.preventDefault()
        }

        if (this.selectIndex >= 0 && this.autocompleteTags.length > this.selectIndex) {
          this.addTagName(this.autocompleteTags[this.selectIndex]);
          this.autocompleteTags = [];
          this.selectIndex = -1;
        } else {
          this.addTagName(this.inputTag);
        }
      },

      /**
       * 添加推荐标签
       * @param tagName
       */
      addRecommendTag(tagName) {
        this.addTagName(tagName)
        this.closeRecommendTags()
      },

      /**
       * 添加标签
       * @param tagName 标签名称
       * @returns {boolean} 是否成功
       */
      addTagName(tagName) {
        if (!tagName) {
          return false
        }

        // 最多四个标签
        if (this.tags.length >= this.maxTagCount) {
          return false
        }

        // 每个标签最多15个字符
        if (tagName.length > this.maxWordCount) {
          return false
        }

        // 标签已经存在
        if (this.tags.indexOf(tagName) !== -1) {
          return false
        }

        this.tags.push(tagName);
        this.inputTag = ''
        return true
      },

      autocomplete() {
        this.closeRecommendTags()
        this.selectIndex = -1
        if (!this.inputTag) {
          this.autocompleteTags = []
        } else {
          let me = this
          httpPost('/tag/autocomplete', {
            "input": me.inputTag
          }).then(function (data) {
            me.autocompleteTags = []
            if (data.length > 0) {
              for (let i = 0; i < data.length; i++) {
                me.autocompleteTags.push(data[i].name)
              }
            }
          })
        }
      },

      selectUp(event) {
        event.stopPropagation()
        event.preventDefault()
        let curIndex = this.selectIndex
        let maxIndex = this.autocompleteTags.length - 1
        if (maxIndex < 0 || curIndex < 0) {
          // 已经在最顶部
          return
        }
        this.selectIndex--
      },

      selectDown(event) {
        event.stopPropagation()
        event.preventDefault()
        let curIndex = this.selectIndex
        let maxIndex = this.autocompleteTags.length - 1
        if (maxIndex < 0 || curIndex >= maxIndex) {
          // 已经在最底部
          return
        }
        this.selectIndex++
      },

      // 关闭推荐
      openRecommendTags() {
        this.showRecommendTags = true
      },

      // 开启推荐
      closeRecommendTags() {
        this.showRecommendTags = false
      },

      // 加载推荐标签
      getRecommendTags() {
        let me = this
        httpGet('/config/recommendtags')
          .then(data => {
            if (data && data.length) {
              me.recommendTags = data
            }
          })
      }
    }
  })
</script>
