@font-face {
  font-family: "iconfont"; /* Project id 1142441 */
  src: url('iconfont.woff2?t=1705419839591') format('woff2'),
       url('iconfont.woff?t=1705419839591') format('woff'),
       url('iconfont.ttf?t=1705419839591') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorite:before {
  content: "\e606";
}

.icon-article:before {
  content: "\e60c";
}

.icon-topic:before {
  content: "\e609";
}

.icon-audit:before {
  content: "\e7bf";
}

.icon-i18n:before {
  content: "\e669";
}

.icon-lock:before {
  content: "\e6c0";
}

.icon-view:before {
  content: "\e619";
}

.icon-comment:before {
  content: "\e7e0";
}

.icon-return:before {
  content: "\e81a";
}

.icon-size:before {
  content: "\e60a";
}

.icon-exit-fullscreen:before {
  content: "\e676";
}

.icon-fullscreen:before {
  content: "\e677";
}

.icon-nav:before {
  content: "\e617";
}

.icon-message:before {
  content: "\e62a";
}

.icon-log-out:before {
  content: "\e649";
}

.icon-menu:before {
  content: "\e627";
}

.icon-drop-up:before {
  content: "\e62c";
}

.icon-drop-down:before {
  content: "\e727";
}

.icon-search:before {
  content: "\e6a0";
}

.icon-plus:before {
  content: "\e610";
}

.icon-has-favorite:before {
  content: "\e9df";
}

.icon-read:before {
  content: "\e890";
}

.icon-weixin:before {
  content: "\e61c";
}

.icon-write:before {
  content: "\e644";
}

.icon-forbidden:before {
  content: "\e638";
}

.icon-log:before {
  content: "\e624";
}

.icon-tweet2:before {
  content: "\e7c2";
}

.icon-comment1:before {
  content: "\e614";
}

.icon-shenhe:before {
  content: "\e6b5";
}

.icon-add:before {
  content: "\e67b";
}

.icon-emoji:before {
  content: "\e621";
}

.icon-image:before {
  content: "\e623";
}

.icon-score:before {
  content: "\e61b";
}

.icon-home:before {
  content: "\e632";
}

.icon-link:before {
  content: "\e60f";
}

.icon-net:before {
  content: "\e60b";
}

.icon-captcha:before {
  content: "\e600";
}

.icon-dashboard:before {
  content: "\e602";
}

.icon-arrowright:before {
  content: "\e625";
}

.icon-sort:before {
  content: "\e613";
}

.icon-qq:before {
  content: "\e6ca";
}

.icon-like:before {
  content: "\e608";
}

.icon-loading:before {
  content: "\e68f";
}

.icon-setting:before {
  content: "\e6ef";
}

.icon-publish:before {
  content: "\e635";
}

.icon-close:before {
  content: "\e633";
}

.icon-delete:before {
  content: "\e6cf";
}

.icon-upload:before {
  content: "\e61a";
}

.icon-edit:before {
  content: "\e65c";
}

.icon-category:before {
  content: "\e63b";
}

.icon-right:before {
  content: "\e70d";
}

.icon-left:before {
  content: "\e70e";
}

.icon-github:before {
  content: "\e709";
}

.icon-password:before {
  content: "\e66b";
}

.icon-email:before {
  content: "\e675";
}

.icon-username:before {
  content: "\e622";
}

.icon-tag:before {
  content: "\e8c1";
}

.icon-tags:before {
  content: "\e605";
}

