@use "bulma/sass" with ( //
    // $widescreen-enabled: true,
    // $fullhd-enabled: true,
    $body-background-color: var(--body-bg-color),

    $scheme-main: var(--scheme-main),
    $scheme-main-bis: var(--scheme-main),
    $scheme-main-ter: var(--scheme-main),

    $scheme-invert: var(--scheme-invert),
    $scheme-invert-bis: var(--scheme-invert),
    $scheme-invert-ter: var(--scheme-invert),

    // $text: var(--text),
    // $text-strong: var(--text),
    // $navbar-box-shadow-color: var(--navbar-box-shadow-color),
    // $title-color: var(--text),
);

@mixin useLightMode() {
    --body-bg-color: #f3f3f3;
    --color-navbar-icon: #1878f3;

    --text: #333333;
    --border: #fff;
    --navbar-box-shadow-color: whitesmoke;

    --text-color: #333333;
    --text-color2: #555;
    --text-color3: #70727c;
    --text-color4: #d8d8d8;
    --text-color5: #fff;

    --text-link-color: #3273dc;
    --text-link-hover-color: #363636;

    --bg-color: #fff;
    --bg-color2: rgba(247, 248, 250, 0.7);
    --bg-color3: #f2f3f5;
    --bg-color4: #f2f2f2;
    --bg-color5: #e8f3ff;
    --bg-color-alpha: rgba(29, 33, 41, 0.5);

    --border-color: #e9e9e9;
    --border-color2: #dcdfe6;
    --border-color3: #8590a6;
    --border-hover-color: #1878f3;

    --color-red: #fa5151;
}

@mixin useDarkMode() {
    --body-bg-color: #121212;
    --color-navbar-icon: #e3e3e3;

    --text: #fff;
    --border: #000;
    --navbar-box-shadow-color: #333;

    --text-color: findColorInvert(#4a4a4a);
    --text-color2: findColorInvert(#555);
    --text-color3: findColorInvert(#70727c);
    --text-color4: findColorInvert(#d8d8d8);
    --text-color5: findColorInvert(#fff);

    --text-link-color: #3273dc;
    --text-link-hover-color: findColorInvert(#363636);

    --bg-color: #272727;
    --bg-color2: #3a3a3a;
    --bg-color3: #3a3a3a;
    --bg-color4: #3a3a3a;
    --bg-color5: #3a3a3a;
    --bg-color-alpha: rgba(29, 33, 41, 0.5);

    --border-color: #4a4a4a;
    --border-color2: #4a4a4a;
    --border-color3: #4a4a4a;
    --border-hover-color: findColorInvert(#1878f3);

    --color-red: #fa5151;

    .tag {
        background-color: #3a3a3a;

        &>a {
            color: var(--text);
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        @include useLightMode();
    }
}

[data-theme=light],
.theme-light {
    @include useLightMode();
}

@media (prefers-color-scheme: dark) {
    :root {
        @include useDarkMode();
    }
}

[data-theme=dark],
.theme-dark {
    @include useDarkMode();
}