.signin {
  max-width: 500px;
  margin: auto !important;
  padding: 0 20px;

  .field {
    margin-bottom: 10px;

    input:focus-visible {
      outline-width: 0;
    }
  }

  .login-captcha-input {
    width: 100%;
    margin-right: 20px;

    .input {
      width: 100% !important;
    }
  }

  .login-captcha-img {
    cursor: pointer;

    img {
      height: 40px;
      background-color: #fff;
    }
  }
}