<li>
    <div class="topic-item">
        <div class="left">
            <div class="avatar small-avatar radius8"
                 style="background-image: url('{{.User.Avatar}}');"></div>
        </div>
        <div class="center">
            <a href="{{baseUrl}}/topic/{{.TopicId}}" target="_blank" title="{{.Title}}">
                <div class="topic-title">{{.Title}}</div>
            </a>

            <div class="topic-meta">
                <span><a href="{{baseUrl}}/user/{{.User.Id}}">{{.User.Nickname}}</a></span>
                <span>{{prettyTime .LastCommentTime}}</span>
                {{if .Tags}}
                    {{range .Tags}}
                        <span class="tag"><a
                                    href="{{tagTopicsUrl .TagId 1}}" target="_blank">{{.TagName}}</a></span>
                    {{end}}
                {{end}}
                <span class="btn"><a href="{{baseUrl}}/topic/edit/{{.TopicId}}">编辑</a></span>
            </div>
        </div>
        <div class="right">
            <span class="view-count">{{.ViewCount}}</span>
        </div>
    </div>
</li>
