[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
collation-server=utf8mb4_general_ci
character-set-server=utf8mb4

skip-host-cache
skip-name-resolve #https://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
performance_schema=OFF
