{{template "common/header.html" .}}

{{template "common/nav.html" .}}

<section class="main">
    <div class="container">
        <div class="columns">
            <div class="column is-9">

                {{/*
                {{if .Categories}}
                    <div class="categories">
                        <div class="widget">
                            <div class="content">
                                <div class="tags are-medium">
                                    {{range .Categories}}
                                        <span class="tag is-normal is-light"><a
                                                    href="{{categoryArticlesUrl .CategoryId 1}}"
                                                    title="{{.CategoryName}}">{{.CategoryName}}</a></span>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{end}}
                */}}

                <div class="main-body">
                    {{template "partials/article/list.html" .}}
                </div>
            </div>
            <div class="column is-3">
                <div class="main-aside">
                    <div class="widget">
                        <div class="content">
                            <a class="button is-success" href="{{baseUrl}}/article/create"><i
                                        class="iconfont icon-topic"></i>&nbsp;<strong>发表文章</strong></a>
                        </div>
                    </div>
                    {{template "common/aside.html" .}}
                </div>
            </div>
        </div>
    </div>
</section>


{{template "common/footer.html" .}}
