{{template "common/header.html" .}}

{{template "common/nav.html" .}}

<section class="main">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div style="text-align: center; margin-bottom: 100px; margin-top: 100px;">
                    <i style="font-size: 72px;" class="iconfont icon-404"></i>
                    <p style="margin-left: 20px; font-size: 15px; font-weight: bold; color: #222;">！！！页面错误：{{.StatusCode}}，<a
                                href="{{baseUrl}}">点击这里返回首页</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


{{template "common/footer.html" .}}
