{{template "common/header.html" .}}
{{template "common/nav.html" .}}

<section class="main">
    <div class="container">

        <div class="widget">
            <div class="header">关于</div>
            <div class="content">

                <blockquote>
                    M-LOG 基于微信文章发布时间与站内点击进行综合排序，通过分类算法，给读者提供最新最热的微信文章聚合索引。
                </blockquote>

                <h3>互推</h3>
                <p>
                    我们希望与公众号自媒体一起友好发展， 若您在自定义菜单或文章底部原文地址等位置推荐<a href="https://mlog.club">https://mlog.club</a>， 与我们取得联系后(正文底部有联系方式)，平台将给您的公众号提供推荐位。
                </p>

                <h3>数据安全</h3>
                <p>
                    使用https加密技术，以确保用户访问数据不被第三方恶意篡改、窃取。
                </p>

                <h3>版权申明</h3>
                <p>
                    <a href="https://mlog.club">https://mlog.club</a> 提供微信公众号所发布的文章链接索引， 文章版权归属原作者或所属媒体所有。
                </p>

                <h3>豁免申明</h3>
                <p>
                    <a href="https://mlog.club">https://mlog.club</a> 是一个公益、共享网络平台，目的是为公众提供有价值的微信文章索引，不声明也不保证其内容的有效性、正确性与可靠性，
                    所收录的文章索引及图片资源与言论信息仅代表原微信公众号意见，与<a href="https://mlog.club">https://mlog.club</a>立场无关。
                </p>

                <h3>文章收录</h3>
                <p>
                    如果您希望我们收录某公众号文章，请与我们联系并注明请求收录的公众号ID。如果您不想您的公众号文章被收录，请与我们联系，我们将停止收录您的帐号文章。
                </p>

                <h3>与我联系</h3>
                <p>如有任何想法、意见、问题可邮件联系 mlog1#qq.com ( @替换# )</p>

            </div>
        </div>

    </div>
</section>


{{template "common/footer.html" .}}
