{{template "common/header.html" .}}

{{template "common/nav.html" .}}
<section class="main">
    <div class="container">
        <div class="columns">
            <div class="column is-9">

                {{/*
                {{if .Categories}}
                    <div class="categories">
                        <div class="widget">
                            <div class="content">
                                <div class="tags are-medium">
                                    {{range .Categories}}
                                        <span class="tag is-normal is-light"><a
                                                    href="{{categoryArticlesUrl .CategoryId 1}}"
                                                    title="{{.CategoryName}}">{{.CategoryName}}</a></span>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{end}}
                */}}

                <div class="main-body">
                    {{if .Topics}}
                        <div class="widget">
                            <div class="header">
                                <span>最新主题</span>
                                <div class="slot">
                                    <a href="{{baseUrl}}/topics">查看更多>></a>
                                </div>
                            </div>
                            <div class="content">
                                <ul class="topic-list">
                                    {{range .Topics}}
                                        {{template "topic/list-item.html" .}}
                                    {{end}}
                                    <li class="more">
                                        <a href="{{baseUrl}}/topics">点击查看更多</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {{end}}

                    {{if .Articles}}
                        <div class="widget">
                            <div class="header">
                                <span>最新文章</span>
                                <div class="slot">
                                    <a href="{{baseUrl}}/articles">查看更多>></a>
                                </div>
                            </div>
                            <div class="content">
                                <ul class="article-list">
                                    {{range .Articles}}
                                        {{template "partials/article/list-item.html" .}}
                                    {{end}}
                                    <li class="more">
                                        <a href="{{baseUrl}}/articles">点击查看更多</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {{end}}
                </div>
            </div>
            <div class="column is-3">
                <div class="main-aside">
                    {{template "common/aside.html" .}}
                </div>
            </div>
        </div>
    </div>
</section>


{{template "common/footer.html" .}}
