{{template "common/header.html" .}}
{{template "common/nav.html" .}}

<section class="main">
    <div class="container">

        <div class="card">
            <header class="card-header">
                <p class="card-header-title">添加标签</p>
            </header>
            <div class="card-content">

                <form method="post" action="{{baseUrl}}/tag/add">
                    <div class="field">
                        <label class="label"><span style="color:red;">*&nbsp;</span>标签</label>
                        <div class="control has-icons-left">
                            <input name="name" class="input is-success" type="text" value="{{.Name}}" placeholder="请输入标签名称">
                            <span class="icon is-small is-left"><i class="iconfont icon-tag"></i></span>
                        </div>
                    </div>

                    {{if .ErrMsg}}
                        <div class="field">
                            <div class="control">
                                <strong><p class="help is-danger">{{.ErrMsg}}</p></strong>
                            </div>
                        </div>
                    {{end}}

                    <div class="field">
                        <div class="control">
                            <button id="btnSignUp" class="button is-success" type="submit">提交</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</section>

<script type="text/javascript">
  $(document).ready(function () {

  })
</script>

{{template "common/footer.html" .}}
