<li>
    {{if .Deleted}}
        <article class="article-item">
            <div class="article-summary">
                收藏内容失效!!!
            </div>
        </article>
    {{else}}
        <article class="article-item">
            <div class="article-item-left">
                <a href="{{baseUrl}}/user/{{.User.Id}}" target="_blank">
                    <img class="avatar" src="{{.User.Avatar}}">
                </a>
            </div>

            <div class="article-item-right">
                <div class="article-title">
                    <a href="{{.Url}}">{{.Title}}</a>
                </div>

                <div class="article-summary">
                    {{.Content}}
                </div>

                <div class="article-meta">
                    <span class="article-meta-item"><a
                                href="{{baseUrl}}/user/{{.User.Id}}">{{.User.Nickname}}</a></span>
                    <span class="article-meta-item"><time datetime="{{prettyTime .CreateTime}}"
                                                          itemprop="datePublished">{{prettyTime .CreateTime}}</time></span>
                </div>
            </div>
        </article>
    {{end}}
</li>
