<ul class="article-list">
    {{if .Favorites}}
        {{range .Favorites}}
            {{template "partials/favorite/list-item.html" .}}
        {{end}}
    {{end}}
</ul>

<nav class="pagination is-rounded is-small" role="navigation" aria-label="pagination">
    {{if gt .Page.Page 1}}
        <a class="pagination-previous" href="{{.PrePageUrl}}"><i class="iconfont icon-left"></i> 上一页</a>
    {{else }}
        <a class="pagination-previous" href="javascript:;"><i class="iconfont icon-left"></i>
            上一页</a>
    {{end}}

    {{if lt .Page.Page .Page.TotalPage}}
        <a class="pagination-next" href="{{.NextPageUrl}}">下一页 <i
                    class="iconfont icon-right"></i></a>
    {{else }}
        <a class="pagination-next" href="javascript:;">下一页 <i class="iconfont icon-right"></i></a>
    {{end}}
</nav>
