.comments {
  .comment {
    padding: .5rem 0;
    overflow: hidden;
    border-bottom: 1px dashed #f5f5f5;

    .comment-avatar {
      float: left;
      padding: .125rem;
      margin-right: .7525rem;
      //img {
      //  width: 50px;
      //  height: 50px;
      //  float: left;
      //  border-radius: 50%;
      //  margin-right: .7525rem;
      //  border: 1px solid #f5f5f5;
      //  padding: .125rem;
      //}
    }

    .comment-meta {
      position: relative;
      height: 50px;

      .comment-nickname {
        position: relative;
        font-size: .875rem;
        font-weight: 800;
        margin-right: .875rem;
        cursor: pointer;
        color: #1abc9c;
        text-decoration: none;
        display: inline-block;
      }

      .comment-time {
        font-size: 12px;
        color: #999999;
        line-height: 1;
        display: inline-block;
        position: relative;
      }

      .comment-reply {
        float: right;
        font-size: 12px;
      }
    }

    .comment-content {
      word-wrap: break-word;
      word-break: break-all;
      text-align: justify;
      color: #4a4a4a;
      font-size: 14px;
      line-height: 2;
      position: relative;
      padding-left: 62px;
    }

    .comment-quote {
      font-size: 12px;
    }
  }

  .comment-create {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    box-sizing: border-box;

    .comment-quote-info {
      font-size: 12px;
      color: #000;

      i {
        font-size: 12px !important;
        color: blue;
        cursor: pointer;
      }

      i:hover {
        color: red;
      }
    }

    .comment-input {
      width: 100%;
      min-height: 8.75rem;
      font-size: .875rem;
      background: transparent;
      resize: vertical;
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
      border: none;
      outline: none;
      padding: 10px 5px;
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      overflow: hidden;
    }

    .comment-button-wrapper {
      .comment-help {
        float: left;
        margin-top: 5px;
      }

      button {
        float: right;
      }
    }
  }

  .comment-not-login {
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    box-sizing: border-box;

    .comment-login-div {
      color: #d5d5d5;
      cursor: pointer;
      border-radius: 3px;
      padding: 0 10px;

      a {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  .comment-show-more {
    margin-top: 10px;
    text-align: center;
  }
}
