.select-tags {
  display: flex;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  //border-radius: 4px;
  //box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
  color: #363636;
  padding: 0 8px;

  .input {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .tags-selected {
    display: flex;

    span.tag-item {
      margin: 5px 5px 5px 0;
      padding: 0 5px;
      background: #eee;
      color: #000;

      .text {
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        color: rgba(0, 0, 0, .38);
        white-space: nowrap;
        display: inline-block;

        i {
          font-size: 12px;
          margin-left: 4px;
        }

        i:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }

  .autocomplete {
    z-index: 999;
    left: 0;
    right: 0;
    top: 38px;
    bottom: 0;
    position: absolute;
    //height: 100px;
    //overflow-y: auto;
    //scroll-behavior: smooth;

    .ac-container {
      scroll-behavior: smooth;
      position: relative;
      background: #f7f7f7;
      border-left: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;

      .ac-section {
        font-size: 14px;
        line-height: 16px;

        .ac-item {
          padding: 8px 15px;
          cursor: pointer;

          &.active, &:hover {
            color: #fff;
            background: #006bde;
          }
        }
      }
    }
  }
}
