.select-tags {
  display: flex;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  //border-radius: 4px;
  //box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
  color: #363636;
  padding: 0 8px;

  .input {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .tags-selected {
    display: flex;

    span.tag-item {
      margin: 5px 5px 5px 0;
      padding: 0 5px;
      background: #eee;
      color: #000;

      .text {
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        color: rgba(0, 0, 0, .38);
        white-space: nowrap;
        display: inline-block;

        i {
          font-size: 12px;
          margin-left: 4px;
        }

        i:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }

  .autocomplete-tags {
    z-index: 999;
    left: 0;
    right: 0;
    top: 38px;
    bottom: 0;
    position: absolute;
    //height: 100px;
    //overflow-y: auto;
    //scroll-behavior: smooth;

    .tags-container {
      scroll-behavior: smooth;
      position: relative;
      background: #f7f7f7;
      border-left: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;

      .tag-section {
        font-size: 14px;
        line-height: 16px;

        .tag-item {
          padding: 8px 15px;
          cursor: pointer;

          &.active, &:hover {
            color: #fff;
            background: #006bde;
          }
        }
      }
    }
  }

  .recommend-tags {
    z-index: 999;
    left: 0;
    right: 0;
    top: 38px;
    bottom: 0;
    position: absolute;
    //height: 100px;
    //overflow-y: auto;
    //scroll-behavior: smooth;

    .tags-container {
      scroll-behavior: smooth;
      position: relative;
      background: #f7f7f7;
      border-left: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      border-bottom: 1px solid #dbdbdb;
      padding: 0 10px 10px 10px;

      .header {
        font-weight: bold;
        font-size: 15px;
        color: #017E66;
        border-bottom: 1px solid #dbdbdb;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;

        .close-recommend {
          float: right;
          cursor: pointer;
          &:hover {
            color: red;
          }
        }
      }

      .tag-item {
        padding: 0 11px;
        border-radius: 11px;
        display: inline-block;
        color: #017E66;
        background-color: rgba(1, 126, 102, 0.08);
        height: 22px;
        line-height: 22px;
        font-weight: normal;
        font-size: 13px;
        text-align: center;

        &:not(:last-child) {
          margin-right: 5px;
        }

        img {
          width: 16px;
          height: 16px;
          margin-right: 5px;
          margin-top: -1px;
          vertical-align: middle;
        }
      }

      .tag-item:hover,
      .tag-item:focus {
        background-color: #017e66;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
