name: bbs-go-admin

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
  
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          # cache: "npm"
          # cache-dependency-path: admin/package-lock.json
      - name: npm install, build, and test
        working-directory: ./admin
        run: |
          yarn
          yarn build
